.hero-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-inline: var(--page-padding-inline);
  padding-block-start: 6rem;
}

.hero-section-wrapper {
  display: flex;
  gap: 2rem;
  max-width: var(--max-width);
  margin-inline: auto;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
    padding-block-end: 4rem;
  }

  & > * {
    flex: 1;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2,
  h3 {
    font-family: "Nunito Sans", "Roboto", sans-serif;
  }

  h2 {
    font-size: 4.5rem;

    margin-inline-start: -0.2rem;
  }

  h3 {
    font-size: 2.75rem;
    margin-inline-start: -0.1rem;
  }

  p {
    margin-block: 2.5rem;
    line-height: 1.75rem;
  }

  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 767px) {
    h2 {
      font-size: 2.5rem;
      margin-block-end: 0.5rem;
    }

    h3 {
      font-size: 2.5rem;
    }
  }
}

.hero-nav-container {
  display: flex;
  gap: 2rem;
}

.hero-detail-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @media screen and (min-width: 767px) {
    margin-block-start: 5rem;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-block-start: 3rem;
  }

  .hero-detail-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero-detail-item > *:nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.hero-image-container {
  display: flex;
  justify-content: end;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    justify-content: center;
  }
}

.hero-image {
  max-width: 35rem;

  @media screen and (max-width: 1024px) {
    /* width: 100%;
    transform: unset; */
  }
}
