.about-section {
  padding-block: var(--page-padding-block);
  padding-inline: var(--page-padding-inline);
}

.about-section-wrapper {
  display: flex;
  margin-inline: auto;
  max-width: var(--max-width);

  & > * {
    flex: 1;
  }
}

.skill-list {
  display: flex;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .skill-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    background-color: rgb(246, 246, 246);
    border-radius: 5rem;
    padding: 2.5rem 1.75rem;

    .skill-image {
      max-width: 4rem;
    }

    .skill-percent {
      color: rgb(0, 0, 0);
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .skill-text {
    font-family: "Nunito Sans", "Roboto", sans-serif;
  }
}
