@import url("./slicknav.css");

.page-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: 1.5rem;
  padding-inline: var(--page-padding-inline);
  background-color: var(--bg-primary);
  z-index: 2;

  font-family: "Nunito Sans", "Roboto", sans-serif;

  @media screen and (max-width: 1024px) {
    padding-block: 0.5rem;
  }
}

.page-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  max-width: var(--max-width);
}

.page-logo h1 {
  font-size: 2.5rem;
}

.period-style {
  margin-inline-start: -0.3rem;
}

.page-header nav {
  flex: 1;
  display: grid;
  max-width: 30rem;

  @media screen and (max-width: 1024px) {
    grid-template-rows: 0fr;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: unset;
    background-color: var(--bg-secondary);
    padding-inline: var(--page-padding-inline);
    transition: grid-template-rows 0.3s ease-in-out;

    &:has(~ .btn-menu .opened) {
      grid-template-rows: 1fr;
    }
  }
}

@keyframes expand-menu {
  from {
    height: 0%;
  }
  to {
    height: max-content;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
  }
}

.nav-item {
  a:hover {
    color: var(--color-secondary);
  }

  @media screen and (max-width: 1024px) {
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid white;
    }

    a {
      display: block;
      margin-block: 1rem;
      width: 100%;
    }
  }
}

.btn-menu {
  display: none;
  background-color: transparent;
  width: 1.5rem;

  @media screen and (max-width: 1024px) {
    display: block;
  }
}
