.slick-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;
}

.slick-bar {
  display: block;
  height: 12%;
  width: 100%;
  background-color: var(--color-text-primary);
  transition: all var(--transition-speed) ease-in-out;
}

.slick-nav.opened {
  .slick-bar:nth-child(1) {
    transform: translateY(370%) rotate(45deg);
  }
  .slick-bar:nth-child(2) {
    opacity: 0;
  }

  .slick-bar:nth-child(3) {
    transform: translateY(-350%) rotate(-45deg);
  }
}
