.project-section {
  padding-block: var(--page-padding-block);
  padding-inline: var(--page-padding-inline);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--max-width);
  margin-inline: auto;
  column-gap: 2rem;
  row-gap: 3rem;

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover .project-image {
      height: 115%;
    }
  }

  @media screen and (min-width: 1024px) {
    &:nth-child(4n + 3),
    &:nth-child(4n + 2) {
      padding-inline: 5rem;

      a {
        height: max-content;
      }

      .project-image-container {
        height: unset;
      }
    }
  }
}

.project-image-container {
  border-radius: 1.5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.project-image {
  height: 100%;
  object-fit: cover;
  transition: height var(--transition-speed) ease-in-out;
}

.project-title--eyebrow {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-block-start: 1.5rem;
  margin-block-end: 0.5rem;
}

.project-technologies-list {
  display: flex;
  gap: 0.5rem;
}

.project-technologies-item {
  max-width: 2rem;
}

.project-name {
  font-size: 1.75rem;
  font-family: "Nunito Sans", "Roboto", sans-serif;
}
